*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(./pics/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bar{
    background-color: #7B4B3A;
    height: 4px;
    width: 65px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 65px;
}
input{
    width: 445px;
    height: 35px;
    border: 1px solid #7B4B3A;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 3px;
    background-color: rgb(232, 232, 232);
}
p{
    font-weight: bold;
    padding-bottom: 10px;
}
.checkd{
    display: flex;
    justify-content:center;
    align-items: center;
    float: left;
}
.check{
    height: 15px;
    width: 15px;
}
.checkt{
    font-size: smaller;
    color: #7B4B3A;
    padding: 0 5px;
}
.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9eed8;
    border-radius: 15px;
    padding: 30px;
}
.log{
     text-align: center;
     height: 40px;
     width: 350px;
     padding: 0 15px;
     background-color: black;
     border: 3px solid #f5f5f5;
     color: #f5f5f5;
     font-size: 15px;
     font-family: mini;
     transition: 0.4s;
}
.log:hover{
    background-color:#7B4B3A;
    color: #f5f5f5;
    cursor: pointer;
}


@media screen and (max-width: 520px){
    .author {
        width: 100vw;
        border-radius: 0;
    }

    .input {
        width: 100%;
    }
}